
@charset "utf-8";



@font-face {
    font-family: 'HappyGoheung';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/행복고흥M.woff') format('woff');
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap:wrap;
    align-content:center;
    justify-content:center;

    background-color: #d2d2d2;

    &::-webkit-scrollbar { display:none; }
}

* {
    font-family: serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.5;
    user-select: none;
    cursor: default;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    text-align: center;
    margin: auto ;
}

#listDisp,
#todayDisp{
    padding: 24px 0;
}

.line {
    width: 200px;
    height: 200px;
    padding: 4px;
    border-radius: 300px;
    border: solid #030303 1px;
}

#swich {
    width: 100%;
    height: 100%;
    border-radius: 300px;
    border: solid #030303 3px;
    line-height: 200px;
    text-indent: -8px;

    font-family: 'HappyGoheung';
    font-size: 48px;
    font-weight: 100;
    font-style: italic;
}






}
